* {
    font-family: 'Courier New', Courier, monospace;
    color: #d0c1a0;
    text-shadow: 2px 2px 0px #7c735f; 
}
@media screen and (min-width:1050px){
    #placar, #base {   
        border: 8px outset #d0c1a0;
    }
    #screen {
        height: 550px;
    }
    #base {
        width: 1000px;
        height: 400px;
    }
    #placar {
        width: 500px;
        height: 75px;
    }
    .torre {
        border: 8px outset #d0c1a0;
        width: 5px;
    }
    
    .caixa {
        margin: 10px;
        width: 100px;
    }
    
    #pedra1{
        border: 8px outset #ea4e2c;
        width: 280px;
        height: 40px;
    }
    #pedra2{
        border: 8px outset #db9a19;
        width: 210px;
        height: 40px;
    }
    #pedra3{
        border: 8px outset #588329;
        width: 140px;
        height: 40px;
    }
    #pedra4{
        border: 8px outset #18407e;
        width: 70px;
        height: 40px;
    }
}

@media all and (max-width:1050px){
    #placar, #base {   
        border: 1vw outset #d0c1a0;
    }
    #screen {
        height: 75vh;
        padding: 3vw;
    }
    #base {
        width: 95vw;
        height: 50vh;
    }
    #placar {
        width: 90vw;
        height: 12vh;
        justify-content: center;
        align-items: center;
    }
    .torre {
        border: 1vw outset #d0c1a0;
        width: 0vw;
    }
    
    .caixa {
        margin: 10px;
        width: 13vw;
    }
    
    #pedra1{
        border: 1vw outset #ea4e2c;
        width: 28vw;
        height: 6vh;
    }
    #pedra2{
        border: 1vw outset #db9a19;
        width: 21vw;
        height: 6vh;
    }
    #pedra3{
        border: 1vw outset #588329;
        width: 14vw;
        height: 6vh;
    }
    #pedra4{
        border: 1vw outset #18407e;
        width: 7vw;
        height: 6vh;
    }
}


#placar, #base {   
    background-color: #60d1fd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.caixa {
    display: flex;
    justify-content: center;
}
.torre {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 98%;
    background-color:  #d0c1a0;
    border-bottom: 0px;
}

#pedra1{
    background-color: #ea4e2c;
}
#pedra2{
    background-color: #db9a19;
}
#pedra3{
    background-color: #588329;
}
#pedra4{
    background-color: #18407e;
}

